@font-face {
  font-family: 'Jaapokki';
  src: url('./assets/fonts/jaapokki/jaapokki-regular.eot');
  src: url('./assets/fonts/jaapokki/jaapokki-regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/jaapokki/jaapokki-regular.woff') format('woff'),
    url('./assets/fonts/jaapokki/jaapokki-regular.ttf') format('truetype'),
    url('./assets/fonts/jaapokki/jaapokki-regular.svg#webfont') format('svg');
}

html,
body {
  background-color: #1D192A;
}

/* MULTIMEDIA SQUARE*/
.square {
  clip-path: polygon(0 40.00px, 40.00px 0, 100% 0, 100% calc(100% - 40.00px), calc(100% - 40.00px) 100%, 0 100%);
}

.square-border {
  position: relative;
}

.square-border:before {
  background-color: #CDB057;
  content: "";
  position: absolute;
  inset: 0;
  clip-path: polygon(0 40.00px, 40.00px 0, 100% 0, 100% calc(100% - 40.00px), calc(100% - 40.00px) 100%, 0 100%, 0 40.00px, 1px calc(40.00px + 0.41px), 1px calc(100% - 1px), calc(100% - 40.00px - 0.41px) calc(100% - 1px), calc(100% - 1px) calc(100% - 40.00px - 0.41px), calc(100% - 1px) 1px, calc(40.00px + 0.41px) 1px, 1px calc(40.00px + 0.41px));
}

.square-staff {
  clip-path: polygon(0 0, calc(100% - 40.00px) 0, 100% 40.00px, 100% 100%, 40.00px 100%, 0 calc(100% - 40.00px));
}

.square-staff-border {
  position: relative;
}

.square-staff-border:before {
  background-color: #CDB057;
  content: "";
  position: absolute;
  inset: 0;
  clip-path: polygon(0 0, calc(100% - 40.00px) 0, 100% 40.00px, 100% 100%, 40.00px 100%, 0 calc(100% - 40.00px), 0 0, 1px 1px, 1px calc(100% - 40.00px - 0.41px), calc(40.00px + 0.41px) calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) calc(40.00px + 0.41px), calc(100% - 40.00px - 0.41px) 1px, 1px 1px);
}
    
@layer components {  
  ::-webkit-scrollbar {
    height: theme('height.2');
    background-color: rgba(255, 255, 255, 0);
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-radius: theme('height.screen');
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(10, 0, 35, 0.6);
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.secondary.100')
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.secondary.80');
    border-radius: theme('height.screen');
    border: 4px solid rgba(255, 255, 255, 0);
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: theme('colors.secondary.100') theme('colors.secondary.100') transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent theme('colors.secondary.100') theme('colors.secondary.100');
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
}

/* .swiper-horizontal{
  padding: 0 40px;
} */
.swiper-button-next:after, 
.swiper-button-prev:after{
  font-size:22px;
  color: theme('colors.secondary.100');
}
.swiper-button-prev:after{
  margin-left:-10px;
}
.swiper-button-next:after{
  margin-right: -5px;
  font-weight: bold;
}
.swiper-button-next,
.swiper-button-prev{
  background-color: #0A0021;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.swiper-button-prev{
  margin-left:-8px;
}
.swiper-button-prev:after{
  margin-left:-4px;
  font-weight: bold;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;